@import "tailwindcss";
@font-face {
  font-family: 'fontrln';
  src: url('/fonts/fontrln.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4 veya v3 yapılandırmanıza göre font değişkeni tanımlayın */
:root {
  --font-rln: 'fontrln', serif;
}